.DS_Store
Thumbs.db

.idea/
.vscode/

node_modules/
dist/
build/

.env
.env.*

coverage/
*.log

# Electron
electron/dist/
*.dmg
*.exe
*.AppImage
*.deb

# Database
data/
*.mv.db
*.trace.db

# User data (local testing)
.devzip/
